@model SBS_Ecommerce.Models.DTOs.ProductDTO
@{
    ViewBag.Title = "Index";
}
<div class="container">
    <section>
        <div class="product">
            <h1><center>PRODUCT</center></h1>
            <div class="prod-list">
                @{ var domain = SBS_Ecommerce.Framework.Configurations.SBSConstants.Domain;}
                @foreach (var item in Model.Items)
                {
                    <div class="prod-wrapper col-md-3">
                        <div class="prod-img">
                            <a class="prod-thumb" href="#">
                                <img src="@domain@item.Original_Img" alt="Cart Thumb">
                            </a>
                        </div>
                        <div class="prod-info">
                            <div class="product-name">
                                <span class="quantity-formated">
                                    <span class="quantity">1</span>x
                                </span>
                                <a href="#">@item.Product_Name</a>
                            </div>
                            <div class="product-attributes">
                                <a href="#">S, Beige</a>
                            </div>
                            <span class="price">@item.Selling_Price</span>
                        </div>
                    </div>
                }
                
                @*<div class="prod-wrapper col-md-3">
                    <div class="prod-img">
                        <a class="prod-thumb" href="#">
                            <img src="/Content/img/product/1.jpg" alt="Cart Thumb">
                        </a>
                    </div>
                    <div class="prod-info">
                        <div class="product-name">
                            <span class="quantity-formated">
                                <span class="quantity">1</span>x
                            </span>
                            <a href="#">Funnky hight</a>
                        </div>
                        <div class="product-attributes">
                            <a href="#">S, Beige</a>
                        </div>
                        <span class="price">$50.99</span>
                    </div>
                </div>
                <div class="prod-wrapper col-md-3">
                    <div class="prod-img">
                        <a class="prod-thumb" href="#">
                            <img src="/Content/img/product/1.jpg" alt="Cart Thumb">
                        </a>
                    </div>
                    <div class="prod-info">
                        <div class="product-name">
                            <span class="quantity-formated">
                                <span class="quantity">1</span>x
                            </span>
                            <a href="#">Funnky hight</a>
                        </div>
                        <div class="product-attributes">
                            <a href="#">S, Beige</a>
                        </div>
                        <span class="price">$50.99</span>
                    </div>
                </div>
                <div class="prod-wrapper col-md-3">
                    <div class="prod-img">
                        <a class="prod-thumb" href="#">
                            <img src="/Content/img/product/1.jpg" alt="Cart Thumb">
                        </a>
                    </div>
                    <div class="prod-info">
                        <div class="product-name">
                            <span class="quantity-formated">
                                <span class="quantity">1</span>x
                            </span>
                            <a href="#">Funnky hight</a>
                        </div>
                        <div class="product-attributes">
                            <a href="#">S, Beige</a>
                        </div>
                        <span class="price">$50.99</span>
                    </div>
                </div>*@
            </div>
        </div>
    </section>
</div>