  <!-------------- From our blog --------------->
<div class="row">
    <div class="col-md-12">
        <div class="module blog-widget">
            <h4 class="module-title linked-title"><a href="#"><i class="fa fa-picture-o" aria-hidden="true"></i>From the blog</a></h4>
            <div class="module-content">
                <div class="article-carousel owl-carousel">
                    <article class="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="thumb-holder">
                                    <a class="thumb" href="#">
                                        <img src="/Content/Theme/Theme3/img/blog/blog-1.jpg" alt="Feature image">
                                    </a>
                                    <div class="post-date">
                                        <span class="p_date">13</span>
                                        <span class="p_month">Aug</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="post-content">
                                    <h3 class="post-title">
                                        <a href="#">Summer Entertaining</a>
                                    </h3>
                                    <p> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris.</p>
                                    <a href="#" class="readmore">Read More<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="thumb-holder">
                                    <a class="thumb" href="#">
                                        <img src="/Content/Theme/Theme3/img/blog/blog-2.jpg" alt="Feature image">
                                    </a>
                                    <div class="post-date">
                                        <span class="p_date">13</span>
                                        <span class="p_month">Aug</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="post-content">
                                    <h3 class="post-title">
                                        <a href="#">Summer Entertaining</a>
                                    </h3>
                                    <p> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris.</p>
                                    <a href="#" class="readmore">Read More<i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="thumb-holder">
                                    <a class="thumb" href="#">
                                        <img src="/Content/Theme/Theme3/img/blog/blog-3.jpg" alt="Feature image">
                                    </a>
                                    <div class="post-date">
                                        <span class="p_date">13</span>
                                        <span class="p_month">Aug</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="post-content">
                                    <h3 class="post-title">
                                        <a href="#">Summer Entertaining</a>
                                    </h3>
                                    <p> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris.</p>
                                    <a href="#" class="readmore">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="thumb-holder">
                                    <a class="thumb" href="#">
                                        <img src="/Content/Theme/Theme3/img/blog/blog-4.jpg" alt="Feature image">
                                    </a>
                                    <div class="post-date">
                                        <span class="p_date">13</span>
                                        <span class="p_month">Aug</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="post-content">
                                    <h3 class="post-title">
                                        <a href="#">Summer Entertaining</a>
                                    </h3>
                                    <p> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris.</p>
                                    <a href="#" class="readmore">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="thumb-holder">
                                    <a class="thumb" href="#">
                                        <img src="/Content/Theme/Theme3/img/blog/blog-5.jpg" alt="Feature image">
                                    </a>
                                    <div class="post-date">
                                        <span class="p_date">13</span>
                                        <span class="p_month">Aug</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="post-content">
                                    <h3 class="post-title">
                                        <a href="#">Summer Entertaining</a>
                                    </h3>
                                    <p> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris.</p>
                                    <a href="#" class="readmore">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                    <article class="post">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="thumb-holder">
                                    <a class="thumb" href="#">
                                        <img src="/Content/Theme/Theme3/img/blog/blog-6.jpg" alt="Feature image">
                                    </a>
                                    <div class="post-date">
                                        <span class="p_date">13</span>
                                        <span class="p_month">Aug</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="post-content">
                                    <h3 class="post-title">
                                        <a href="#">Summer Entertaining</a>
                                    </h3>
                                    <p> Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris.</p>
                                    <a href="#" class="readmore">Read More <i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
</div>
