
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Theme/Theme3/_Layout.cshtml";
}
<!--------------- Breadcumb --------------->
<div class="breadcrumb-wrap">
    <div class="container">
        <a class="breadcrumb-link" href="index.html" title="Return to Home">Home</a><i class="breadcrumb-arrow fa fa-angle-right"></i><a class="breadcrumb-link" href="blog.html" title="Return to Blog">Blog</a><i class="breadcrumb-arrow fa fa-angle-right"></i><span class="breadcrumb-current">Summer Entertaining</span>
    </div>
</div>

<!--------------- Main wrap --------------->
<div class="main-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-4">

                <!--------------- Recent Blog Post --------------->
                <div class="module blog-widget recent-widget secondary-module">
                    <h4 class="module-title linked-title"><a href="#"><i class="fa fa-image" aria-hidden="true"></i>Recent Posts</a><span class="toggle-btn"></span></h4>
                    <div class="module-content mobile-collapse">
                        <ul class="recent-list">
                            <li class="recent-post">
                                <a href="#" class="recent-post-thumb">
                                    <img src="img/blog/blog-1.jpg" alt="...">
                                </a>
                                <div class="recent-post-content">
                                    <h5><a href="blog-single.html">Summer Entertainment</a></h5>
                                    <span class="date">Aug 13, 2015</span>
                                </div>
                            </li>
                            <li class="recent-post">
                                <a href="#" class="recent-post-thumb">
                                    <img src="img/blog/blog-2.jpg" alt="...">
                                </a>
                                <div class="recent-post-content">
                                    <h5><a href="blog-single.html">Bibendum Auctor</a></h5>
                                    <span class="date">Aug 13, 2015</span>
                                </div>
                            </li>
                            <li class="recent-post">
                                <a href="#" class="recent-post-thumb">
                                    <img src="img/blog/blog-3.jpg" alt="...">
                                </a>
                                <div class="recent-post-content">
                                    <h5><a href="blog-single.html">Bibendum Auctor</a></h5>
                                    <span class="date">Aug 13, 2015</span>
                                </div>
                            </li>
                            <li class="recent-post">
                                <a href="#" class="recent-post-thumb">
                                    <img src="img/blog/blog-4.jpg" alt="...">
                                </a>
                                <div class="recent-post-content">
                                    <h5><a href="blog-single.html">Summer Entertainment</a></h5>
                                    <span class="date">Aug 13, 2015</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-9 col-sm-8">

                <!--------------- Main Product Widget --------------->
                <div class="article-wrap">
                    <div class="row">
                        <div class="col-md-12">
                            <article class="post single-post">
                                <div class="article-thumbnail">
                                    <img src="img/blog/single-big.jpg" alt="...">
                                </div>
                                <h4 class="article-title">Summer Entertaining</h4>
                                <p class="article-metas">
                                    <span class="meta category">
                                        <i class="fa fa-tags" aria-hidden="true"></i>
                                        <a href="#">Uncategories</a>
                                    </span>
                                    <span class="meta commentcount">
                                        <i class="fa fa-comments" aria-hidden="true"></i>
                                        <a href="#">0 Comments</a>
                                    </span>
                                    <span class="meta view">
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <span>View (408)</span>
                                    </span>
                                    <span class="meta author">
                                        <span>Author:</span>
                                        <span>Field Themes</span>
                                    </span>
                                </p>
                                <div class="article-content">
                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris.</p>
                                    <blockquote>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris.</blockquote>
                                    <p>Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris. Morbi accumsan ipsum velit. Duis sed odio sit amet nibh vulputate cursus sit amet mauris.</p>
                                </div>
                            </article>
                        </div>

                        <!--------------- Comment area --------------->
                        <div class="col-md-12">
                            <div class="comments-area">
                                <h3 class="comment-title">2 Comments</h3>

                                <ul class="comments">
                                    <li class="comment">
                                        <div class="comment-avatar">
                                            <img src="img/client/client-1.png" alt="Commenter Pic">
                                        </div>
                                        <div class="comment-body">
                                            <h5 class="comment-name">Rebeca John</h5>/<span class="comment-date">15 May, 2016</span>
                                            <p class="comment-content">Today essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
                                            <a class="reply-btn" href="#">Reply</a>
                                        </div>
                                        <ul class="comments child-comments">
                                            <li class="comment">
                                                <div class="comment-avatar">
                                                    <img src="img/client/client-2.png" alt="Commenter Pic">
                                                </div>
                                                <div class="comment-body">
                                                    <h5 class="comment-name">John Wensley</h5>/<span class="comment-date">2 July, 2016</span>
                                                    <p class="comment-content">Remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.</p>
                                                    <a class="reply-btn" href="#">Reply</a>
                                                </div>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <form id="commentform" class="basicfields commentform" action="#" method="post">
                                    <h3>Leave Your Comments</h3>
                                    <p>Your email address will not be published. Required fields are marked *</p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <input type="text" name="name" placeholder="Full Name *" pattern="[A-Za-z].{3,50}" title="Only caps and small letters allowed" required="">
                                        </div>
                                        <div class="col-md-6">
                                            <input type="email" name="email" placeholder="Email *" pattern="^[A-Za-z0-9._%+-]+[A-Za-z0-9.-]+\.[A-Za-z]{2,}$" title="Enter a valid email" required="">
                                        </div>
                                        <div class="col-md-12">
                                            <textarea name="message" placeholder="Message" rows="6"></textarea>
                                        </div>
                                        <div class="col-md-12">
                                            <input class="btn btn-default" type="submit" value="Submit Comment">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
