SBSECommerge/SBSECommerge/bin/Newtonsoft.Json.dll
SBSECommerge/SBSECommerge/bin/System.Web.Helpers.dll
SBSECommerge/SBSECommerge/bin/System.Web.Mvc.dll
SBSECommerge/SBSECommerge/bin/System.Web.Optimization.dll
SBSECommerge/SBSECommerge/bin/System.Web.Razor.dll
SBSECommerge/SBSECommerge/bin/System.Web.WebPages.Deployment.dll
SBSECommerge/SBSECommerge/bin/System.Web.WebPages.Razor.dll
SBSECommerge/SBSECommerge/bin/System.Web.WebPages.dll
SBSECommerge/SBSECommerge/bin/WebGrease.dll
SBSECommerge/SBSECommerge/bin/Microsoft.Owin.dll
SBSECommerge/SBSECommerge/bin/Microsoft.Web.Infrastructure.dll
SBSECommerge/SBSECommerge/bin/Owin.dll
SBSECommerge/SBSECommerge/bin/Microsoft.Owin.Security.dll
SBSECommerge/SBSECommerge/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SBSECommerge/SBSECommerge/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SBSECommerge/SBSECommerge/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SBSECommerge/SBSECommerge/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
SBSECommerge/SBSECommerge/bin/Microsoft.Owin.Security.Twitter.dll
SBSECommerge/SBSECommerge/bin/Microsoft.Owin.Security.OAuth.dll
SBSECommerge/SBSECommerge/bin/Microsoft.Owin.Security.Google.dll
SBSECommerge/SBSECommerge/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
SBSECommerge/SBSECommerge/bin/Microsoft.Owin.Security.Facebook.dll
SBSECommerge/SBSECommerge/bin/Microsoft.Owin.Security.Cookies.dll
SBSECommerge/SBSECommerge/bin/Microsoft.AI.DependencyCollector.dll
SBSECommerge/SBSECommerge/bin/Microsoft.Owin.Host.SystemWeb.dll
SBSECommerge/SBSECommerge/bin/Antlr3.Runtime.dll
SBSECommerge/SBSECommerge/bin/EntityFramework.SqlServer.dll
SBSECommerge/SBSECommerge/bin/EntityFramework.dll
SBSECommerge/SBSECommerge/bin/Microsoft.AI.Agent.Intercept.dll
SBSECommerge/SBSECommerge/bin/Microsoft.AI.PerfCounterCollector.dll
SBSECommerge/SBSECommerge/bin/Microsoft.AI.ServerTelemetryChannel.dll
SBSECommerge/SBSECommerge/bin/Microsoft.AI.Web.dll
SBSECommerge/SBSECommerge/bin/Microsoft.AI.WindowsServer.dll
SBSECommerge/SBSECommerge/bin/Microsoft.ApplicationInsights.dll
SBSECommerge/SBSECommerge/bin/Microsoft.AspNet.Identity.Core.dll
SBSECommerge/SBSECommerge/bin/Microsoft.AspNet.Identity.EntityFramework.dll
SBSECommerge/SBSECommerge/bin/Microsoft.AspNet.Identity.Owin.dll
SBSECommerge/SBSECommerge/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
SBSECommerge/SBSECommerge.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
SBSECommerge/SBSECommerge.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
SBSECommerge/SBSECommerge.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
SBSECommerge/SBSECommerge.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
