@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Models.Base;
@using SBS_Ecommerce.Models.Extension;
@{
    SBS_Ecommerce.Framework.Utilities.CompanyUtil cpUT = new SBS_Ecommerce.Framework.Utilities.CompanyUtil();
    var pathName = cpUT.GetPathTheme();
    Layout = pathName + "/_Layout.cshtml";
    Cart cart = (Cart)Session["Cart"];
}

<!--------------- Main wrap --------------->
<div class="main-wrap static-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h4 class="page-title">Shopping-cart Summary</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="cart-steps">
                    <li class="cart-step summery complete ">01. Summary</li>
                    <li class="cart-step account complete">02. Sign in</li>
                    <li class="cart-step shipping current">03. Shipping</li>
                    <li class="cart-step address">04. Address</li>
                    <li class="cart-step payment">05. Payment</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="method-list checkout-page">
                    <h4>Delivery Information</h4>
                    <div class="panel-body">
                        <div class="col-md-6">
                            <form action="@Url.Content("~/Orders/ChooseShippingPayment")" method="get" id="frmChooseShippingPayment">
                                <div class="funkyradio">
                                    <div class="funkyradio-danger">
                                        <input type="radio" name="shippingMethod" id="radio2" checked value="@((int)ShippingMethod.NoShipping)" />
                                        <label for="radio2">Pick up your items at the store </label>
                                    </div>
                                    <div class="funkyradio-danger">
                                        <input type="radio" name="shippingMethod" id="radio3" />
                                        <label for="radio3">Third Option success</label>
                                    </div>
                                </div>
                            </form>
                           
                        </div>
                    </div>
                </div>
            </div>
            <div class="next-wrap">
                <div class="col-md-6">
                    <a href="@Url.Action("Index","Home")" class="btn btn-default"><i class="fa fa-angle-left"></i> Continue shopping</a>
                </div>
                <div class="col-md-6 text-right">
                    <a href="#" onclick="ChooseShippingPayment()" class="btn btn-default">Process to checkout <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
