@using SBS_Ecommerce.Framework.Configurations;
@using SBS_Ecommerce.Models;
@{
    var domain = SBSConstants.Domain;
    List<OrderDetail> details = ViewBag.Data;
}

<table id="cart_summary" class="cart_summery col-md-12 table-striped table">
    <thead>
        <tr>
            <th class="product-image" style="width:20%">Image</th>
            <th class="product-detail" style="width:40%">Desciption</th>
            <th class="product-qty" style="width:10%">Qty</th>
            <th class="product-price" style="width:10%">Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in details)
        {
            <tr>
                <td class="product-image"><img src="@(domain + item.ProductImg)" width="auto" height="150px" /></td>
                <td class="product-detail">
                    <strong>@item.ProductName</strong>
                    @*<p class="product-detail">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>*@
                </td>
                <td class="product-qty">@item.Quantity</td>
                <td class="product-price">@item.Amount</td>
            </tr>
        }
    </tbody>
</table>