@{
    ViewBag.Title = "Orders";
    Layout = "~/Views/Admin/_LayoutAdmin.cshtml";
}
<script src="~/Content/Admin/js/order-management.js"></script>

<div id="order-manage">
    @Html.Raw(ViewBag.Partial);
</div>
<div id="orderDetailModal" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="left: auto;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h3>Order Detail</h3>
            </div>
            <div class="modal-body" style="padding: 0 10px 30px">
                <div class="content-block">
                </div>
                <br />
                @*<button id="processBtn" class="btn-success btn">PROCESS</button>*@
            </div>
        </div>
    </div>
</div>
