.validatereview{
    color:red;
    text-align:right;
    display:none;
}
.element-review{
    margin-bottom:2px !important;
}
.form-footer{
    margin-top:15px;
}
.list-reviews{
    padding-top:0px;
}
.review{
    padding-top:15px;
}

.review-body:hover .commnet-operator{
    display:block;
}

.icon-comment-opera{
    padding:2px;
    cursor:pointer;
}
.btn{
    color:white !important;
}
.org-price{
    color: #c3c0c0;
    text-decoration:line-through;
}