@using SBS_Ecommerce.Models.Base;
@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Models;
@{
    List<Layout> lstLayout = (List<Layout>)ViewBag.RenderLayout;
    //List<Menu> lstMenu = (List<Menu>)ViewBag.RenderMenu;
    List<ConfigMenu> lstMenu = ViewBag.RenderMenu;
    List<Category> lstCategory = (List<Category>)ViewBag.LstCategory;
    var pathTheme = SBS_Ecommerce.Framework.Utilities.BaseUtil.Instance.GetPathTheme();
    Layout = pathTheme + "/_Layout.cshtml";
}

@section MetaTags
{
    <meta name="keywords" content="@ViewData["Keywords"]" />
    <meta name="description" content="@ViewData["Description"]" />
}
<!--------------- Main wrap --------------->
<div class="main-wrap">
    <div class="container">
        @foreach (var item in lstLayout)
            {
            @Html.Partial(pathTheme + item.Path, item.Content)
        }
    </div>
</div>

