@using SBS_Ecommerce.Models.Base;
@using SBS_Ecommerce.Models.DTOs;
@{
    List<Layout> lstLayout = (List<Layout>)ViewBag.RenderLayout;
    List<Menu> lstMenu = (List<Menu>)ViewBag.RenderMenu;
    List<Category> lstCategory = (List<Category>)ViewBag.LstCategory;
    Layout = "~/Views/Theme/Theme3/_Layout.cshtml";
}
    <!--------------- Hero area --------------->
    <!--------------- Main wrap --------------->
    <div class="main-wrap">
        @RenderBody()
        <div class="container">
            @foreach (var item in lstLayout)
            {
                @Html.Partial(item.Path, item.Content)
            }
        </div>
    </div>

  