@{
    ViewBag.Title = "Wishlist";
    Layout = "~/Views/Theme/Theme3/_Layout.cshtml";
}

<script>
    function removeFromWishlist(id) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("RemoveFromWishlist", "Wishlist")',
            data: { id: id },
            success: function (rs) {
                    if (rs.reponse == 0) {
                        console.log("success");
                    } else if (rs.reponse == -1) {
                        console.log("failed");
                    } else {
                        alert("Please login first.");
                    }
                }
            });
    }
</script>
<div class="main-wrap">
    <div class="container">
        <h2>Wishlist</h2>
        <hr />
        <div class="row">
            <div class="col-md-12">
                <table id="cart_summary" class="cart_summery">
                    <tr>
                        <th class="cart_product">Product</th>
                        <th class="cart_description">Description</th>
                        <th class="cart_avail">Availability</th>
                        <th class="cart_unit_price">Unit price</th>
                        <th class="cart_quantity">Add to Cart</th>
                        <th class="cart_delete">&nbsp;</th>
                    </tr>
                    <tr>
                        <td class="cart_product_content"><img src="img/product/sthumb-1.jpg" alt="Product on cart"></td>
                        <td class="cart_desc_content">
                            <h5>Funnky Fair</h5>
                            <p class="cart-sku">SKU: demo_3</p>
                            <p class="cart_size">Size: S</p>
                            <p class="cart_color">Color: Orange</p>
                        </td>
                        <td class="cart_avail_content"><span class="availability-status label label-success">In stock</span></td>
                        <td class="cart_unit_price_content"><span class="price">$26.00</span></td>
                        <td class="cart_quantity_content"><input type="number" min="1" value="1" style="margin-right: 5px;"><a href="javascript:void(0)" class="deleteItem"><i class="fa fa-plus"></i></a></td>
                        <td class="cart_delete_item"><a href="javascript:void(0)" onclick="removeFromWishlist(1)" class="deleteItem"><i class="fa fa-trash"></i></a></td>
                    </tr>
                    <tr>
                        <td class="cart_product_content"><img src="img/product/sthumb-2.jpg" alt="Product on cart"></td>
                        <td class="cart_desc_content">
                            <h5>Corounty</h5>
                            <p class="cart-sku">SKU: demo_5</p>
                            <p class="cart_size">Size: M</p>
                            <p class="cart_color">Color: Black</p>
                        </td>
                        <td class="cart_avail_content"><span class="availability-status label label-success">In stock</span></td>
                        <td class="cart_unit_price_content"><span class="price">$27.00</span></td>
                        <td class="cart_quantity_content"><input type="number" min="1" value="1" style="margin-right: 5px;"><a href="javascript:void(0)" class="deleteItem"><i class="fa fa-plus"></i></a></td>
                        <td class="cart_delete_item"><a href="javascript:void(0)" onclick="removeFromWishlist(1)" class="deleteItem"><i class="fa fa-trash"></i></a></td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />
    </div>
</div>