@using SBS_Ecommerce.Models
@{
    ViewBag.Title = "Log in";
    var pathName = SBS_Ecommerce.Framework.Utilities.BaseUtil.Instance.GetPathTheme();
    Layout = pathName + "/_Layout.cshtml";
}
<div class="main-wrap static-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="page-heading">
                    <h4 class="page-title">Customer</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="cart-steps">
                    <li class="cart-step summery complete">01. Summary</li>
                    <li class="cart-step account current">02. Sign in</li>
                    <li class="cart-step address">03. Address</li>
                    <li class="cart-step payment">04. Payment</li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="display-flex" id="register-form" style="margin-bottom: 15px">
                <div class="col-md-6 col-sm-12">
                    <div class="alert alert-info">
                        <strong>Success!</strong>  Please check your email to reset your password.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>