body {
    background-color: #f2f2f2;
    color: #555555;
}
a{
    color: #484848;
}
a:hover{
    color: #333745;
}
a:focus{
    color: #484848;
}
.btn-default{
    color: #ffffff;
    background-color: #f7d54a;
}
.btn-default:hover{
    background-color: #333745;
    color: #ffffff;
}
.navbar-default{
    background-color: #f7d54a;
}
.navbar-default .navbar-nav>.menu-item>a{
    color: #ffffff;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li:hover>a, .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active:hover>a{
    background-color: #333745;
    color: #ffffff;
}
.module-title{
    color: #ffffff;
    background-color: #f7d54a;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 100%;
    padding: 10px 15px;
    text-transform: uppercase;
}
.module-title.linked-title a{
    color: #ffffff;
    background-color: #f7d54a;
    line-height: 100%;
    display: block;
    padding: 10px 15px;
}
.cart-step.current{
    background-color: #f7d54a;
    color: #ffffff;
}
.cart-step.complete{
    background-color: #333745;
    color: #ffffff;
}
.cart-step:before, .cart-step:after {
    height: 42px;
    width: 2px;
    background-color: #dcdcdc;
    content: "";
    position: absolute;
    right: -16px;
    z-index: 1;
}