@model SBS_Ecommerce.Models.BlogComment
<li class="comment">
    <div class="comment-avatar">
        <img src="/Content/Theme/Theme3/img/client/client-1.png" alt="Commenter Pic">
    </div>
    <div class="comment-body">
        <h5 class="comment-name">@()</h5>/<span class="comment-date">15 May, 2016</span>
        <p class="comment-content">Today essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages</p>
        <a class="reply-btn" href="#">Reply</a>
    </div>
</li>
