@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;

@{
    Layout = "~/Views/Theme/Theme3/_Layout.cshtml";
}
@{
    List<Category> lstCategory = SBSCommon.Instance.GetCategories();
}

<div class="main-wrap static-page">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="panel panel-default side-nav">
                        <h4 class="module-title">My account</h4>
                    <div class="module-content">
                        <ul class="side-menu">

                            <li class="customer-info menu-item">
                                <a href="/Account/InforCustomer" class="inactive">Customer info</a>
                            </li>
                            <li class="customer-addresses menu-item">
                                <a href="/Account/ListShippingAddress" class="active">Addresses</a>
                            </li>
                            <li class="customer-orders menu-item">
                                <a href="/Account/OrderHistory" class="inactive">Orders</a>
                            </li>
                            <li class="change-password menu-item">
                                <a href="/Manage/ChangePassword" class="inactive">Change password</a>
                            </li>
                            <li class="customer-reviews menu-item">
                                <a href="/Account/ProductReviews" class="inactive">My product reviews</a>
                            </li>
                            <li class="change-avartar menu-item">
                                <a href="/Account/ChangeAvatar" class="inactive">Change avatar</a>
                            </li>
                        </ul>
                    </div>
                </div>
                @*<div class="panel panel-default side-nav side-nav-category">
                    <div class="panel-heading">
                        <strong>Categories</strong>
                    </div>
                    <div class="panel-body">
                        <div class="panel-group" id="accordion">
                            @foreach (var item in lstCategory)
                            {
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <p class="panel-title">
                                            <i class="fa fa-caret-right"></i>&nbsp;<a href="/Product/Category/@item.Category_ID">
                                                @item.Category_Name
                                            </a>
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>*@
            </div>
            <div class="col-md-9">
                @RenderBody()
            </div>
        </div>
    </div>
</div>
