@model SBS_Ecommerce.Models.DTOs.ShippingAddressDTO
@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;
@{
    Layout = "~/Views/Theme/Theme3/Account/_MyProfile.cshtml";
    List<Category> lstCategory = SBSCommon.Instance.GetCategories();
}

<div>
    <div class="orders-page__item">
        <div class="orders-page__item-header">
            <div>
                <span class="orders-page__item-header__title">Order <a class="tracking_Myorder_orderLink orders-page__item-button-manage" href="/customer/order/view/?orderNr=327686192">#327686192</a></span>
                <span class="orders-page__item-header__subtitle">Date 09/05/2016</span>
            </div>
            <div>
                <a class="orders-page__item-button-manage" href="/customer/order/view/?orderNr=327686192">Quản lý đơn hàng</a>
            </div>
        </div>
        <div class="orders-page__item-content">
            <div class="orders-page__item-shipment">
                <a class="orders-page__item-img" href="/customer/order/view/?orderNr=327686192">
                    <img src="http://qa.bluecube.com.sg/pos3v2-wserv/WServ/LoadOriginalProductImage?pID=8199" alt="Đế tản nhiệt Laptop A8 (Đen phối xanh)">
                </a>
                <div class="orders-page__item-info">
                    <a class="orders-page__item-title" href="/customer/order/view/?orderNr=327686192"> Blue Nun CHAMPANGE (Hall - Normal Hour)</a>                        <a class="orders-page__item-status" href="/customer/order/view/?orderNr=327686192">Cancel</a>
                </div>

            </div>
        </div>
    </div>

</div>