@model SBS_Ecommerce.Models.DTOs.ShippingAddressDTO
@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework;
@{
    Layout = "~/Views/Theme/Theme3/Account/_MyProfile.cshtml";
    List<Category> lstCategory = SBSCommon.Instance.GetCategories();
}
    <div class="orders-page__item">
        <div class="orders-page__item-header">
            <div>
                <span class="orders-page__item-header__title">Đặt hàng <a class="tracking_Myorder_orderLink orders-page__item-button-manage" href="/customer/order/view/?orderNr=363445179">#363445179</a></span>
                <span class="orders-page__item-header__subtitle">Đặt ngày 22/03/2017</span>
            </div>
            <div>
                <a class="orders-page__item-button-manage" href="/customer/order/view/?orderNr=363445179">Quản lý đơn hàng</a>
            </div>
        </div>
        <div class="orders-page__item-content">
            <div class="orders-page__item-shipment">
                <a class="orders-page__item-img" href="/customer/order/view/?orderNr=363445179">
                    <img data-placeholder="https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_5.jpg" onerror="this.onerror = null; this.src ='https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_5.jpg';" src="http://vn-live-03.slatic.net/p/3/bo-3-noi-inox-1-day-sunhouse-sh114-7344-8870143-55787ec7685058e4d575a93a6f2bc20b-webp-catalog.jpg" alt="Bộ 3 nồi inox 1 đáy Sunhouse SH114">
                </a>
                <div class="orders-page__item-info">
                    <a class="orders-page__item-title" href="/customer/order/view/?orderNr=363445179">Bộ 3 nồi inox 1 đáy Sunhouse SH114</a>                        <a class="orders-page__item-status" href="/customer/order/view/?orderNr=363445179">Đã được gửi đi</a>                                                    <div class="orders-page__item-date-get">
                        Giao ngày 30/03/2017
                    </div>
                </div>

            </div>
            <div class="orders-page__item-shipment">
                <a class="orders-page__item-img" href="/customer/order/view/?orderNr=363445179">
                    <img data-placeholder="https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_5.jpg" onerror="this.onerror = null; this.src ='https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_5.jpg';" src="http://vn-live-03.slatic.net/p/3/bo-3-noi-inox-1-day-sunhouse-sh114-7344-8870143-55787ec7685058e4d575a93a6f2bc20b-webp-catalog.jpg" alt="Bộ 3 nồi inox 1 đáy Sunhouse SH114">
                </a>
                <div class="orders-page__item-info">
                    <a class="orders-page__item-title" href="/customer/order/view/?orderNr=363445179">Bộ 3 nồi inox 1 đáy Sunhouse SH114</a>                        <a class="orders-page__item-status" href="/customer/order/view/?orderNr=363445179">Đã được gửi đi</a>                                                    <div class="orders-page__item-date-get">
                        Giao ngày 30/03/2017
                    </div>
                </div>

            </div>
            <div class="orders-page__item-shipment">
                <a class="orders-page__item-img" href="/customer/order/view/?orderNr=363445179">
                    <img data-placeholder="https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_5.jpg" onerror="this.onerror = null; this.src ='https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_5.jpg';" src="http://vn-live-03.slatic.net/p/3/bo-3-noi-inox-1-day-sunhouse-sh114-7344-8870143-55787ec7685058e4d575a93a6f2bc20b-webp-catalog.jpg" alt="Bộ 3 nồi inox 1 đáy Sunhouse SH114">
                </a>
                <div class="orders-page__item-info">
                    <a class="orders-page__item-title" href="/customer/order/view/?orderNr=363445179">Bộ 3 nồi inox 1 đáy Sunhouse SH114</a>                        <a class="orders-page__item-status" href="/customer/order/view/?orderNr=363445179">Đã được gửi đi</a>                                                    <div class="orders-page__item-date-get">
                        Giao ngày 30/03/2017
                    </div>
                </div>

            </div>
            <div class="orders-page__item-shipment">
                <a class="orders-page__item-img" href="/customer/order/view/?orderNr=363445179">
                    <img data-placeholder="https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_5.jpg" onerror="this.onerror = null; this.src ='https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_5.jpg';" src="http://vn-live-03.slatic.net/p/3/chao-tron-sunhouse-ct20mt-20cm-den-1608-1540631-7ca558e8fb5997bb4dcbb2b886c51412-webp-catalog.jpg" alt="Chảo trơn Sunhouse CT20MT 20cm (Đen)">
                </a>
                <div class="orders-page__item-info">
                    <a class="orders-page__item-title" href="/customer/order/view/?orderNr=363445179">Chảo trơn Sunhouse CT20MT 20cm (Đen)</a>                        <a class="orders-page__item-status" href="/customer/order/view/?orderNr=363445179">Đã được gửi đi</a>                                                    <div class="orders-page__item-date-get">
                        Giao ngày 30/03/2017
                    </div>
                </div>

            </div>
            <div class="orders-page__item-shipment">
                <a class="orders-page__item-img" href="/customer/order/view/?orderNr=363445179">
                    <img data-placeholder="https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_5.jpg" onerror="this.onerror = null; this.src ='https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_5.jpg';" src="http://vn-live-02.slatic.net/p/10/bep-dien-tu-dien-tu-magic-korea-a46-tang-noi-lau-nap-kinh-24cm-8687-8153482-cdc8a313d48ac87836347f5578989712-webp-catalog.jpg" alt="Bếp điện từ điện tử Magic Korea A46 + Tặng nồi lẩu nắp kính 24cm">
                </a>
                <div class="orders-page__item-info">
                    <a class="orders-page__item-title" href="/customer/order/view/?orderNr=363445179">Bếp điện từ điện tử Magic Korea A46 + Tặng nồi lẩu nắp kính 24cm</a>                        <a class="orders-page__item-status" href="/customer/order/view/?orderNr=363445179">Đã được gửi đi</a>                                                    <div class="orders-page__item-date-get">
                        Giao ngày 03/04/2017
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="orders-page__item">
        <div class="orders-page__item-header">
            <div>
                <span class="orders-page__item-header__title">Đặt hàng <a class="tracking_Myorder_orderLink orders-page__item-button-manage" href="/customer/order/view/?orderNr=396937179">#396937179</a></span>
                <span class="orders-page__item-header__subtitle">Đặt ngày 22/03/2017</span>
            </div>
            <div>
                <a class="orders-page__item-button-manage" href="/customer/order/view/?orderNr=396937179">Quản lý đơn hàng</a>
            </div>
        </div>
        <div class="orders-page__item-content">
            <div class="orders-page__item-shipment">
                <a class="orders-page__item-img" href="/customer/order/view/?orderNr=396937179">
                    <img data-placeholder="https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_5.jpg" onerror="this.onerror = null; this.src ='https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_5.jpg';" src="http://vn-live-03.slatic.net/p/3/bo-3-noi-inox-1-day-sunhouse-sh114-7344-8870143-55787ec7685058e4d575a93a6f2bc20b-webp-catalog.jpg" alt="Bộ 3 nồi inox 1 đáy Sunhouse SH114">
                </a>
                <div class="orders-page__item-info">
                    <a class="orders-page__item-title" href="/customer/order/view/?orderNr=396937179">Bộ 3 nồi inox 1 đáy Sunhouse SH114</a>                        <a class="orders-page__item-status" href="/customer/order/view/?orderNr=396937179">Từ chối</a>
                </div>

            </div>
            <div class="orders-page__item-shipment">
                <a class="orders-page__item-img" href="/customer/order/view/?orderNr=396937179">
                    <img data-placeholder="https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_5.jpg" onerror="this.onerror = null; this.src ='https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_5.jpg';" src="http://vn-live-02.slatic.net/p/10/bep-dien-tu-dien-tu-magic-korea-a46-tang-noi-lau-nap-kinh-24cm-8687-8153482-cdc8a313d48ac87836347f5578989712-webp-catalog.jpg" alt="Bếp điện từ điện tử Magic Korea A46 + Tặng nồi lẩu nắp kính 24cm">
                </a>
                <div class="orders-page__item-info">
                    <a class="orders-page__item-title" href="/customer/order/view/?orderNr=396937179">Bếp điện từ điện tử Magic Korea A46 + Tặng nồi lẩu nắp kính 24cm</a>                        <a class="orders-page__item-status" href="/customer/order/view/?orderNr=396937179">Từ chối</a>
                </div>

            </div>
        </div>
    </div>
    <div class="orders-page__item">
        <div class="orders-page__item-header">
            <div>
                <span class="orders-page__item-header__title">Đặt hàng <a class="tracking_Myorder_orderLink orders-page__item-button-manage" href="/customer/order/view/?orderNr=379311579">#379311579</a></span>
                <span class="orders-page__item-header__subtitle">Đặt ngày 21/03/2017</span>
            </div>
            <div>
                <a class="orders-page__item-button-manage" href="/customer/order/view/?orderNr=379311579">Quản lý đơn hàng</a>
            </div>
        </div>
        <div class="orders-page__item-content">
            <div class="orders-page__item-shipment">
                <a class="orders-page__item-img" href="/customer/order/view/?orderNr=379311579">
                    <img data-placeholder="https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_3.jpg" onerror="this.onerror = null; this.src ='https://vn-live-01.slatic.net/images/spinbasket/placeholder/placeholder_s_3.jpg';" src="http://vn-live-02.slatic.net/p/7/bo-doi-that-lung-khoa-bam-hai-mat-cao-cap-mpd-va-vi-da-dang-ngang-sep-3920-5089272-938ffeee05ce7fed82af2080fd5be21f-webp-catalog.jpg" alt="Bộ đôi thắt lưng khóa bấm hai mặt cao cấp MPD và ví da dáng ngang
Sep">
                </a>
                <div class="orders-page__item-info">
                    <a class="orders-page__item-title" href="/customer/order/view/?orderNr=379311579">
                        Bộ đôi thắt lưng khóa bấm hai mặt cao cấp MPD và ví da dáng ngang
                        Sep
                    </a>                        <a class="orders-page__item-status" href="/customer/order/view/?orderNr=379311579">Từ chối</a>
                </div>

            </div>
        </div>
    </div>
    <div class="orders-page__item">
        <div class="orders-page__item-header">
            <div>
                <span class="orders-page__item-header__title">Đặt hàng <a class="tracking_Myorder_orderLink orders-page__item-button-manage" href="/customer/order/view/?orderNr=327686192">#327686192</a></span>
                <span class="orders-page__item-header__subtitle">Đặt ngày 09/05/2016</span>
            </div>
            <div>
                <a class="orders-page__item-button-manage" href="/customer/order/view/?orderNr=327686192">Quản lý đơn hàng</a>
            </div>
        </div>
        <div class="orders-page__item-content">
            <div class="orders-page__item-shipment">
                <a class="orders-page__item-img" href="/customer/order/view/?orderNr=327686192">
                    <img onerror="this.onerror = null; this.src ='';" src="http://vn-live-01.slatic.net/p/2/de-tan-nhiet-laptop-a8-2-quat-lon-den-phoi-xanh-8238-5264211-37cb242fc3cdaadacdda6e6beceefe45-catalog.jpg" alt="Đế tản nhiệt Laptop A8 (Đen phối xanh)">
                </a>
                <div class="orders-page__item-info">
                    <a class="orders-page__item-title" href="/customer/order/view/?orderNr=327686192">Đế tản nhiệt Laptop A8 (Đen phối xanh)</a>                        <a class="orders-page__item-status" href="/customer/order/view/?orderNr=327686192">Từ chối</a>
                </div>

            </div>
        </div>
    </div>

</div>