/*Start page order history */
.model-body-show {
    overflow-y: scroll;
    max-height: 500px;
}

.address-list ul {
    padding-left: 120px;
}
/*End page order history */

/* Start Page add new address customer*/

.address-list-page .info, .order-list-page .info {
    margin: 0 0 10px;
    border-top: 1px solid #e6e6e6;
    background-color: #f9f9f9;
    padding: 20px;
    line-height: 26px;
    color: #444;
}


/*Start page Order History*/
ul.item-order-detail li{
    padding:5px 10px;
}


/*Start page check out */
.address-list .section{
    padding:0!important;
}
.add-more-shipping{
    display:none;
}