   <!-------------- Map --------------->
<div class="row">
    <div class="col-md-12">
        <div id="mapwrap" class="mapwrap">
            <div class="google-map" id="location" data-lat="48.8560635" data-lng="2.3482364" data-zoom="10" style="height: 100%"></div>
        </div>
    </div>
</div>