<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Metas -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rosa - Responsive Ecommerce Template</title>
    <meta name="description" content="Rosa is Responsive eCommerce Template">
    
    <!-- External CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.css">
    
    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700%7cPathway+Gothic+One" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="img/icon/favicon.ico">
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="img/icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="img/icon-114x114.png">
	
	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body>
   
    <!--------------- Header --------------->
    <header id="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <nav class="top-blocks">
                        <div id="languages-block" class="languages-block top-block">
                            <div class="current top-inner">
                                <img class="flag" src="img/lang/1.jpg" alt="en">
                                <span class="language">English</span>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </div>
                            <ul id="languages" class="language-select top-sub">
                                <li class="selected">
                                    <img src="img/lang/1.jpg" alt="en"> English</li>
                                <li>
                                    <a href="home1/fr/" title="Français (French)">
                                        <img src="img/lang/2.jpg" alt="fr"> Français 
                                    </a>
                                </li>
                                <li> 
                                    <a href="home1/es/" title="Español (Spanish)"> 
                                        <img src="img/lang/3.jpg" alt="es"> Español 
                                    </a>
                                </li>
                                <li> 
                                    <a href="home1/it/" title="Italiano (Italian)">         
                                        <img src="img/lang/4.jpg" alt="it"> Italiano 
                                    </a>
                                </li>
                                <li> 
                                    <a href="home1/fa/" title="فارسى (Persian)"> 
                                        <img src="img/lang/5.jpg" alt="fa"> فارسى 
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="currencies-block" class="top-block currencies-block">
                            <form id="setCurrency" class="set-currency top-inner" action="#" method="post">
                                <span class="current">
                                    <input type="hidden" name="id_currency" id="id_currency">
                                    <input type="hidden" name="SubmitCurrency">
                                    <span class="current-label">USD</span>
                                </span>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </form>
                            <ul id="first-currencies" class="currency-select top-sub">
                                <li class="selected" data-value="dollar">Dollar</li>
                                <li data-value="euro"><a href="#" title="Euro"> Euro </a></li>
                            </ul>
                        </div>
                        <div class="phone-block top-block">
                            <span class="top-number top-inner">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span class="call-number">CALL 0123-456-789</span>
                            </span>
                        </div>
                        <div class="accounts-block top-block top-navwrap">
                            <div class="current">
                                <div class="current-label"><i class="fa fa-user" aria-hidden="true"></i> My account</div>
                            </div>
                            <ul id="account-menu" class="menu account-menu top-menu">
                                <li class="menu-item"><a href="signup.html"><i class="fa fa-user" aria-hidden="true"></i>My account</a></li>
                                <li class="menu-item"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>My wishlist</a></li>
                                <li class="menu-item"><a href="cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My cart</a></li>
                                <li class="menu-item"><a href="cart.html"><i class="fa fa-check-square" aria-hidden="true"></i>Checkout</a></li>
                                <li class="menu-item"><a href="signup.html"><i class="fa fa-lock" aria-hidden="true"></i>Login</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="header-bottom">
            <div class="container">
                <div class="row">
                    <div class="display-flex">
                        <div class="col-sm-3">
                            <div class="header-logo logo">
                                <a href="index.html" title="Rosa Logo">
                                    <img src="img/logo.png" alt="Rosa logo"/>
                                </a>
                            </div>
                        </div>
                        <div class="col-sm-6 text-center">
                            <form id="searchform" class="searchform" action="#" method="get">
                                <input type="search" class="searchinput" name="searchinput" placeholder="Search..."/>
                                <button type="submit" class="searchsubmit" name="searchsubmit"><i class="fa fa-search"></i></button>
                            </form>
                        </div>
                        
                        <!--------------- Mini Cart --------------->
                        <div class="col-sm-3">
                            <div class="block-minicart">
                                <a href="cart.html" class="cartlink">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart<span class="cart-subtotal"> (0)</span>
                                </a>
                                <div class="on-minicart">
                                    <dl class="cart-products">
                                        <dt class="cart-product">
                                            <a class="cart-thumb" href="#">
                                                <img src="img/product/cart-thumb-1.jpg" alt="Cart Thumb">
                                            </a>
                                            <div class="cart-info">
                                                <div class="product-name">
                                                    <span class="quantity-formated">
                                                        <span class="quantity">1</span>x
                                                    </span>
                                                    <a href="#">Funnky hight</a>
                                                </div>
                                                <div class="product-attributes">
                                                    <a href="#">S, Beige</a>
                                                </div>
                                                <span class="price">$50.99</span>
                                            </div>
                                            <span class="remove-link">
                                                <a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                            </span>
                                        </dt>
                                        <dd></dd>
                                        <dt class="cart-product">
                                            <a class="cart-thumb" href="#">
                                                <img src="img/product/cart-thumb-1.jpg" alt="Cart Thumb">
                                            </a>
                                            <div class="cart-info">
                                                <div class="product-name">
                                                    <span class="quantity-formated">
                                                        <span class="quantity">1</span>x
                                                    </span>
                                                    <a href="#">Funnky hight</a>
                                                </div>
                                                <div class="product-attributes">
                                                    <a href="#">S, Beige</a>
                                                </div>
                                                <span class="price">$35</span>
                                            </div>
                                            <span class="remove-link">
                                                <a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                            </span>
                                        </dt>
                                        <dd></dd>
                                    </dl>
                                    <p class="cart-no-product">No products</p>
                                    <div class="cart-prices">
                                        <div class="cart-fee-wrap cart-shipping-fee">
                                            <span class="cart-text">Shipping</span>
                                            <span class="cart-fee price">$2.00</span>
                                        </div>
                                        <div class="cart-fee-wrap cart-total-fee">
                                            <span class="cart-text">Total</span>
                                            <span class="cart-fee price">$120.49</span>
                                        </div>
                                    </div>
                                    <div class="cart-checkout">
                                        <a href="#" class="btn btn-default checkout-btn">Check out<i class="fa fa-angle-right right"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    
    <!--------------- Primary navigation --------------->
    <nav class="navbar navbar-default" data-spy="affix" data-offset-top="150">
        <div class="container" style="position: relative">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="barwrap">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </span>
              </button>
            <div class="collapse navbar-collapse" id="main-nav">
                <div class="collapse navbar-collapse" id="main-nav">
                <ul class="nav navbar-nav main-menu">
                    <li class="menu-item"><a href="index.html"><i class="fa fa-home"></i></a></li>
                    <li class="menu-item mega-holder">
                        <a href="products.html">Product</a>
                        <ul class="sub-menu mega-menu col-lg-12 mega-left mega-full">
                            <li class="menu-item depth-1 col-1-5">
                                <a href="products.html">Accessories</a>
                                <ul class="sub-menu">
                                    <li class="menu-item depth-2"><a href="products.html">Cocktai</a></li>
                                    <li class="menu-item depth-2"><a href="products.html">Day</a></li>
                                    <li class="menu-item depth-2"><a href="products.html">Evening</a></li>
                                    <li class="menu-item depth-2"><a href="products.html">Sundresses</a></li>
                                </ul>
                            </li>
                            <li class="menu-item depth-1 col-1-5">
                                <a href="products.html">Dresses</a>
                                <ul class="sub-menu">
                                    <li class="menu-item depth-2"><a href="products.html">Accessories</a></li>
                                    <li class="menu-item depth-2"><a href="products.html">Hats and Gloves</a></li>
                                    <li class="menu-item depth-2"><a href="products.html">Lifestyle</a></li>
                                    <li class="menu-item depth-2"><a href="products.html">Bras</a></li>
                                </ul>
                            </li>
                            <li class="menu-item depth-1 col-1-5">
                                <a href="products.html">Tops</a>
                                <ul class="sub-menu">
                                    <li class="menu-item depth-2"><a href="products.html">Evening</a></li>
                                    <li class="menu-item depth-2"><a href="products.html">Long Sleeved</a></li>
                                    <li class="menu-item depth-2"><a href="products.html">Short Sleeved</a></li>
                                    <li class="menu-item depth-2"><a href="products.html">Tanks and Camis</a></li>
                                </ul>
                            </li>
                            <li class="menu-item depth-1 col-2-5">
                                <div class="content-item row">
                                    <div class="content-item-thumb col-md-4">
                                        <img src="img/menu/menu-women.jpg" alt="Menu Women">
                                    </div>
                                    <div class="content-item-content col-md-8">
                                        <h2>Girl Collection 2015</h2>
                                        <p>Lorem Ipsum is simply dummy text of the printing and type setting industry.</p>
                                        <a class="btn btn-default" href="products.html">Shop Now</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="blog.html">Blog</a>
                        <ul class="sub-menu">
                            <li class="menu-item"><a href="blog.html">Blog</a></li>
                            <li class="menu-item"><a href="blog-single.html">Blog Single</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a href="about.html">About Us</a>
                    </li>
                    <li class="menu-item">
                        <a href="contact.html">Contact</a>
                    </li>
                    <li class="menu-item active">
                        <a href="signup.html">Signup</a>
                    </li>
                </ul>
            </div>
            </div>
        </div>
    </nav>
    
    <!--------------- Breadcumb --------------->
    <div class="breadcrumb-wrap"> 
        <div class="container">
            <a class="breadcrumb-link" href="index.html" title="Return to Home">Home</a><i class="breadcrumb-arrow fa fa-angle-right"></i><span class="breadcrumb-current">Your shopping cart</span>
        </div>
    </div>
    
    <!--------------- Main wrap --------------->
    <div class="main-wrap static-page">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-heading">
                        <h4 class="page-title">Shopping-cart Summary</h4>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <ul class="cart-steps">
                        <li class="cart-step summery complete">01. Summary</li>
                        <li class="cart-step account current">02. Sign in</li>
                        <li class="cart-step address">03. Address</li>
                        <li class="cart-step shipping">04. Shipping</li>
                        <li class="cart-step payment">05. Payment</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="display-flex" style="margin-bottom: 15px">
                    <div class="col-sm-6">
                        <form id="registerForm" class="basicfields account-form" action="#" method="post">
                            <h4 class="form-title">Create an account</h4>
                            <p>Please enter your email address to create an account</p>
                            <input type="email" name="email" placeholder="Email address">
                            <button type="submit" name="signup" class="btn btn-default pos-absolute"><i class="fa fa-user" aria-hidden="true"></i> Create an account</button>
                        </form>
                    </div>
                    <div class="col-sm-6">
                        <form id="signinForm" class="basicfields account-form" action="#" method="post">
                            <h4 class="form-title">Already Registered?</h4>
                            <input type="email" name="email" placeholder="Email address">
                            <input type="password" name="password" placeholder="Password">
                            <a href="#" class="resetlink">Forgot your password?</a><br/><br/>
                            <button type="submit" class="btn btn-default"><i class="fa fa-lock" aria-hidden="true"></i> Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
            
            <!-------------- Our brands --------------->
            <div class="row">
                <div class="col-md-12">
                    <div class="module brand-widget">
                        <h4 class="module-title"><i class="fa fa-globe" aria-hidden="true"></i>Our brands</h4>
                        <div class="module-content">
                            <div id="brand-carousel" class="brand-carousel owl-carousel">
                                <a class="brand" href="#"><img src="img/brand/brand-1.png" alt="brand logo"></a>
                                <a class="brand" href="#"><img src="img/brand/brand-2.png" alt="brand logo"></a>
                                <a class="brand" href="#"><img src="img/brand/brand-3.png" alt="brand logo"></a>
                                <a class="brand" href="#"><img src="img/brand/brand-4.png" alt="brand logo"></a>
                                <a class="brand" href="#"><img src="img/brand/brand-5.png" alt="brand logo"></a>
                                <a class="brand" href="#"><img src="img/brand/brand-1.png" alt="brand logo"></a>
                                <a class="brand" href="#"><img src="img/brand/brand-2.png" alt="brand logo"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-------------- Footer --------------->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 col-md-offset-1">
                        <div class="subscribe-header">
                            <h4 class="subscribe-heading"><i class="fa fa-envelope"></i>Sign up for our newsletter</h4>
                            <p>Enter your email and we’ll send you a coupon with 10% off your next order</p>
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-8 col-md-offset-0 col-sm-offset-2">
                        <form id="subscribeform" class="subscribeform" action="#" method="post">
                            <input type="email" name="email" placeholder="Enter your e-mail">
                            <input type="submit" name="email-submit" value="sign up!">
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="footer-widgets">
                        <div class="col-md-3 col-sm-6">
                            <div class="widget footer-widget about-widget">
                                <div class="widget-content">
                                    <div class="footer-logo">
                                        <a href="index.html" title="Rosa Logo">
                                            <img src="img/logo.png" alt="Rosa logo"/>
                                        </a>
                                    </div>
                                    <div style="background: url(img/map.png) no-repeat center center / contain; float: left; width: 100%">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing, sed do eiusmod tempor incididunt ut labore et. Lorem ipsum dolor sit amet.</p>
                                        <div class="contact-infos">
                                            <div class="cotact-info contact-address">
                                                <div class="contact-icon">
                                                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                                                </div>
                                                <p class="contact-content">42 avenue des Champs Elysées 75 Paris</p>
                                            </div>
                                            <div class="cotact-info contact-phone">
                                                <div class="contact-icon">
                                                    <i class="fa fa-phone" aria-hidden="true"></i>
                                                </div>
                                                <p class="contact-content">Call us now: 0123-456-789</p>
                                            </div>
                                            <div class="cotact-info contact-email">
                                                <div class="contact-icon">
                                                    <i class="fa fa-envelope" aria-hidden="true"></i>
                                                </div>
                                                <p class="contact-content">Email : fieldthemes@gmail.com</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="widget footer-widget product-widget">
                                <h4 class="widget-title">SALES OFF<span class="toggle-btn"></span></h4>
                                <div class="widget-content mobile-collapse">
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="#" class="thumb-link">
                                                <img class="front-img" src="img/product/sthumb-1.jpg" alt="Product Front">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h5 class="product-name"><a href="#">Lynn Skinny</a></h5>
                                            <p class="price">
                                                <span class="regular-price">$50.99</span>
                                                <span class="discount-price">$40.80</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="#" class="thumb-link">
                                                <img class="front-img" src="img/product/sthumb-2.jpg" alt="Product Front">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h5 class="product-name"><a href="#">Contour Skinny</a></h5>
                                            <p class="price">
                                                <span class="regular-price">$25.99</span>
                                                <span class="discount-price">$15.50</span>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="product">
                                        <div class="product-thumb">
                                            <a href="#" class="thumb-link">
                                                <img class="front-img" src="img/product/sthumb-3.jpg" alt="Product Front">
                                            </a>
                                        </div>
                                        <div class="product-info">
                                            <h5 class="product-name"><a href="#">Funnky Fair</a></h5>
                                            <p class="price">
                                                <span class="regular-price">$100.00</span>
                                                <span class="discount-price">$40.00</span>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="widget footer-widget custom-menu-widget">
                                <h4 class="widget-title">My account<span class="toggle-btn"></span></h4>
                                <div class="widget-content mobile-collapse">
                                    <ul class="menu custom-menu account-menu">
                                        <li class="menu-item"><a href="#">My account</a></li>
                                        <li class="menu-item"><a href="#">My orders</a></li>
                                        <li class="menu-item"><a href="#">My credit slips</a></li>
                                        <li class="menu-item"><a href="#">My addresses</a></li>
                                        <li class="menu-item"><a href="#">My personal info</a></li>
                                        <li class="menu-item"><a href="#">Login</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="widget footer-widget custom-menu-widget">
                                <h4 class="widget-title">Information<span class="toggle-btn"></span></h4>
                                <div class="widget-content mobile-collapse">
                                    <ul class="menu custom-menu info-menu">
                                        <li class="menu-item"><a href="#">Specials</a></li>
                                        <li class="menu-item"><a href="#">New products</a></li>
                                        <li class="menu-item"><a href="#">Best sellers</a></li>
                                        <li class="menu-item"><a href="#">Contact us</a></li>
                                        <li class="menu-item"><a href="#">Terms of use</a></li>
                                        <li class="menu-item"><a href="#">Sitemap</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-sm-4">
                            <div class="widget footer-widget tags-widget">
                                <h4 class="widget-title">Tags<span class="toggle-btn"></span></h4>
                                <div class="widget-content mobile-collapse">
                                    <div class="tags">                                 
                                        <a href="#" class="tag">Special</a>
                                        <a href="#" class="tag">Men</a>
                                        <a href="#" class="tag">Shoe</a>
                                        <a href="#" class="tag">Lady</a>
                                        <a href="#" class="tag">Cool</a>
                                        <a href="#" class="tag">Footwear</a>
                                        <a href="#" class="tag">Black</a>
                                        <a href="#" class="tag">Women</a>
                                        <a href="#" class="tag">Bag</a>
                                        <a href="#" class="tag">Handsome</a>
                                        <a href="#" class="tag">Classic</a>
                                        <a href="#" class="tag">Jewelry</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="menu footer-menu">
                            <li class="menu-item"><a href="#">About</a></li>
                            <li class="menu-item"><a href="#">Blog</a></li>
                            <li class="menu-item"><a href="#">Contact</a></li>
                            <li class="menu-item"><a href="#">FAQ</a></li>
                            <li class="menu-item"><a href="#">Account</a></li>
                            <li class="menu-item"><a href="#">Wishlist</a></li>
                        </ul>
                        <p class="copyright">Copyright &copy; 2017. All rights reserved.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="socials footer-socials">
                            <a href="#" class="social s-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" class="social s-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" class="social s-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" class="social s-rss"><i class="fa fa-rss" aria-hidden="true"></i></a>
                            <a href="#" class="social s-g-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#" class="social s-pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="payments">
                            <a href="#"><img src="img/payment/payment1.png" alt="We Pay"></a>
                            <a href="#"><img src="img/payment/payment2.png" alt="MasterCard"></a>
                            <a href="#"><img src="img/payment/payment3.png" alt="Amazon"></a>
                            <a href="#"><img src="img/payment/payment4.png" alt="Paypal"></a>
                            <a href="#"><img src="img/payment/payment5.png" alt="Visa"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
    <!--------------- Back to Top --------------->
    <a id="toTop" class="toTop" href="#header"><i class="fa fa-angle-up"></i></a>
    
    <!--------------- Javascript external files -------------->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.countdown.js"></script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="js/jquery.fancybox.js"></script>
    <script src="js/jquery.elevatezoom.js"></script>
    <script src="js/visible.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAmiJjq5DIg_K9fv6RE72OY__p9jz0YTMI"></script>
   <script src="js/map.js"></script>
    <script src="js/custom.js"></script>
</body>
</html>