<!DOCTYPE html>
j
<html lang="en">
<head>
    <!-- Metas -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Rosa is Responsive eCommerce Template">

    <!-- External CSS -->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/css/font-awesome.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/css/style.css">
    <link rel="stylesheet" href="~/Content/css/responsive.css">
    <link href="~/Content/Theme/Default/css/home-page.css" rel="stylesheet" />
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Archivo+Narrow:400,700%7cPathway+Gothic+One" rel="stylesheet">

    <!-- Favicon -->
    <link rel="icon" href="/Content/Theme/Theme2/img/icon/favicon.ico">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/img/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/img/icon-114x114.png">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="~/Content/Theme/Default/js/html5shiv.min.js"></script>
      <script src="~/Content/Theme/Default/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="home-2">

    <!--------------- Header --------------->
    <header id="header">
        <div class="header-top">
            <div class="container">
                <div class="row">
                    <nav class="top-blocks">
                        <div id="languages-block" class="languages-block top-block">
                            <div class="current top-inner">
                                <img class="flag" src="/Content/Theme/Theme2/img/lang/1.jpg" alt="en">
                                <span class="language">English</span>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </div>
                            <ul id="languages" class="language-select top-sub">
                                <li class="selected">
                                    <img src="/Content/Theme/Theme2/img/lang/1.jpg" alt="en"> English
                                </li>
                                <li>
                                    <a href="home1/fr/" title="Français (French)">
                                        <img src="/Content/Theme/Theme2/img/lang/2.jpg" alt="fr"> Français
                                    </a>
                                </li>
                                <li>
                                    <a href="home1/es/" title="Español (Spanish)">
                                        <img src="/Content/Theme/Theme2/img/lang/3.jpg" alt="es"> Español
                                    </a>
                                </li>
                                <li>
                                    <a href="home1/it/" title="Italiano (Italian)">
                                        <img src="/Content/Theme/Theme2/img/lang/4.jpg" alt="it"> Italiano
                                    </a>
                                </li>
                                <li>
                                    <a href="home1/fa/" title="فارسى (Persian)">
                                        <img src="/Content/Theme/Theme2/img/lang/5.jpg" alt="fa"> فارسى
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div id="currencies-block" class="top-block currencies-block">
                            <form id="setCurrency" class="set-currency top-inner" action="#" method="post">
                                <span class="current">
                                    <input type="hidden" name="id_currency" id="id_currency">
                                    <input type="hidden" name="SubmitCurrency">
                                    <span class="current-label">USD</span>
                                </span>
                                <i class="fa fa-sort-desc" aria-hidden="true"></i>
                            </form>
                            <ul id="first-currencies" class="currency-select top-sub">
                                <li class="selected" data-value="dollar">Dollar</li>
                                <li data-value="euro"><a href="#" title="Euro"> Euro </a></li>
                            </ul>
                        </div>
                        <div class="phone-block top-block">
                            <span class="top-number top-inner">
                                <i class="fa fa-phone" aria-hidden="true"></i>
                                <span class="call-number">CALL 0123-456-789</span>
                            </span>
                        </div>
                        <div class="accounts-block top-block top-navwrap">
                            <div class="current">
                                <div class="current-label"><i class="fa fa-user" aria-hidden="true"></i> My account</div>
                            </div>
                            <ul id="account-menu" class="menu account-menu top-menu">
                                <li class="menu-item"><a href="signup.html"><i class="fa fa-user" aria-hidden="true"></i>My account</a></li>
                                <li class="menu-item"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>My wishlist</a></li>
                                <li class="menu-item"><a href="cart.html"><i class="fa fa-shopping-cart" aria-hidden="true"></i>My cart</a></li>
                                <li class="menu-item"><a href="cart.html"><i class="fa fa-check-square" aria-hidden="true"></i>Checkout</a></li>
                                <li class="menu-item"><a href="#"><i class="fa fa-lock" aria-hidden="true"></i>Login</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!--------------- Primary navigation --------------->
        <nav class="navbar navbar-default" data-spy="affix" data-offset-top="150">
            <div class="container" style="position: relative">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="barwrap">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </span>
                </button>
                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav main-menu">
                        <li class="menu-item">
                            <a href="/">
                                <img src="/Content/Theme/Theme2/img/logo.png" alt="Rosa logo" />
                            </a>
                        </li>
                        <li class="menu-item active"><a href="/Home/Index"><i class="fa fa-home"></i></a></li>
                        <li class="menu-item">
                            <a href="about.html">About Us</a>
                        </li>
                        <li class="menu-item">
                            <a href="contact.html">Contact</a>
                        </li>
                        <li class="menu-item">
                            <a onclick="$('#signInModal').modal('show')">Signup</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="header-bottom">
        <div class="container">
            <div class="row">
                <div class="display-flex">

                    <div class="col-sm-6 text-center">
                        <form id="searchform" class="searchform" action="#" method="get">
                            <input type="search" class="searchinput" name="searchinput" placeholder="Search..." />
                            <button type="submit" class="searchsubmit" name="searchsubmit"><i class="fa fa-search"></i></button>
                        </form>
                    </div>

                    <!--------------- Mini Cart --------------->
                    <div class="col-sm-3">
                        <div class="block-minicart">
                            <a href="cart.html" class="cartlink">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>Cart<span class="cart-subtotal"> (0)</span>
                            </a>
                            <div class="on-minicart">
                                <dl class="cart-products">
                                    <dt class="cart-product">
                                        <a class="cart-thumb" href="#">
                                            <img src="/Content/Theme/Theme2/img/product/cart-thumb-1.jpg" alt="Cart Thumb">
                                        </a>
                                        <div class="cart-info">
                                            <div class="product-name">
                                                <span class="quantity-formated">
                                                    <span class="quantity">1</span>x
                                                </span>
                                                <a href="#">Funnky hight</a>
                                            </div>
                                            <div class="product-attributes">
                                                <a href="#">S, Beige</a>
                                            </div>
                                            <span class="price">$50.99</span>
                                        </div>
                                        <span class="remove-link">
                                            <a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                        </span>
                                    </dt>
                                    <dd></dd>
                                    <dt class="cart-product">
                                        <a class="cart-thumb" href="#">
                                            <img src="/Content/Theme/Theme2/img/product/cart-thumb-1.jpg" alt="Cart Thumb">
                                        </a>
                                        <div class="cart-info">
                                            <div class="product-name">
                                                <span class="quantity-formated">
                                                    <span class="quantity">1</span>x
                                                </span>
                                                <a href="#">Funnky hight</a>
                                            </div>
                                            <div class="product-attributes">
                                                <a href="#">S, Beige</a>
                                            </div>
                                            <span class="price">$35</span>
                                        </div>
                                        <span class="remove-link">
                                            <a href="#"><i class="fa fa-times-circle" aria-hidden="true"></i></a>
                                        </span>
                                    </dt>
                                    <dd></dd>
                                </dl>
                                <p class="cart-no-product">No products</p>
                                <div class="cart-prices">
                                    <div class="cart-fee-wrap cart-shipping-fee">
                                        <span class="cart-text">Shipping</span>
                                        <span class="cart-fee price">$2.00</span>
                                    </div>
                                    <div class="cart-fee-wrap cart-total-fee">
                                        <span class="cart-text">Total</span>
                                        <span class="cart-fee price">$120.49</span>
                                    </div>
                                </div>
                                <div class="cart-checkout">
                                    <a href="#" class="btn btn-default checkout-btn">Check out<i class="fa fa-angle-right right"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="main">
        @RenderBody()
    </div>

    <!-------------- Footer --------------->
    <footer>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <ul class="menu footer-menu">
                            <li class="menu-item"><a href="#">About</a></li>
                            <li class="menu-item"><a href="#">Blog</a></li>
                            <li class="menu-item"><a href="#">Contact</a></li>
                            <li class="menu-item"><a href="#">FAQ</a></li>
                            <li class="menu-item"><a href="#">Account</a></li>
                            <li class="menu-item"><a href="#">Wishlist</a></li>
                        </ul>
                        <p class="copyright">Copyright &copy; 2017. All rights reserved.</p>
                    </div>
                    <div class="col-md-4">
                        <div class="socials footer-socials">
                            <a href="#" class="social s-facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a href="#" class="social s-instagram"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a href="#" class="social s-twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                            <a href="#" class="social s-rss"><i class="fa fa-rss" aria-hidden="true"></i></a>
                            <a href="#" class="social s-g-plus"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            <a href="#" class="social s-pinterest"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="payments">
                            <a href="#"><img src="/Content/Theme/Theme2/img/payment/payment1.png" alt="We Pay"></a>
                            <a href="#"><img src="/Content/Theme/Theme2/img/payment/payment2.png" alt="MasterCard"></a>
                            <a href="#"><img src="/Content/Theme/Theme2/img/payment/payment3.png" alt="Amazon"></a>
                            <a href="#"><img src="/Content/Theme/Theme2/img/payment/payment4.png" alt="Paypal"></a>
                            <a href="#"><img src="/Content/Theme/Theme2/img/payment/payment5.png" alt="Visa"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--------------- Model ----------------------->
    <!-- Modal -->
    <div id="signInModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="left: auto;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="flip">
                            <div class="card">
                                <div class="face front">
                                    <form class="form-horizontal" action="/Account/Login" method="post" name="login">
                                        <br>
                                        <h1 class="text-center">LOGO</h1>
                                        <br>
                                        <input class="form-control" placeholder="Email" name="Email" id="emailLogin"  />
                                        <span id="loginEmailError"></span>
                                        <input class="form-control" placeholder="Password" type="password" name="Password" id="passWordLogin" />
                                        <p class="text-right"><a href="">Forgot Password</a></p>
                                        <input class="btn btn-primary btn-block btn-submit-login" type="button" value="LOG IN" />
                                        <hr>
                                        <p class="blue">Sign in with</p>
                                        <p><i class="fa fa-facebook-f fa-lg"></i></p>

                                        <hr>
                                        <p class="text-center">
                                            <a style="cursor:pointer;" onclick="$('#signInModal').modal('hide'); $('#signUpModal').modal('show');" class="fliper-btn">Create new account?</a>
                                        </p>
                                    </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

    <!-- Modal -->
    <div id="signUpModal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="left: auto;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div>
                        <div class="flip">
                            <div class="card">
                                <div class="face back">
                                        <form class="form-horizontal" action="/Account/Register" method="post" name="registration">
                                            <br>
                                            <h1 class="text-center">LOGO</h1>
                                            <br>
                                            <input class="form-control" placeholder="Email" name="Email" id="registrationEmail" autocomplete="off" />
                                            <span id="registrationEmailError"></span>
                                            <input class="form-control" placeholder="Password" name="Password" id="registrationPassword" type="password" />
                                            <input class="form-control" placeholder="Confirm Password" name="ConfirmPassword" type="password" />
                                            <input class="btn btn-primary btn-block btn-submit-register" value="SIGN UP" type="button" />
                                            <hr>
                                            <p class="blue">Sign up with</p>
                                            <p><i class="fa fa-facebook-f fa-lg"></i></p>

                                            <hr>
                                            <p class="text-center">
                                                <a style="cursor:pointer;" onclick="$('#signUpModal').modal('hide'); $('#signInModal').modal('show');" class="fliper-btn">Already have an account?</a>
                                            </p>
                                        </form>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

    <!--------------- Back to Top --------------->
    <a id="toTop" class="toTop" href="#header"><i class="fa fa-angle-up"></i></a>

    <!--------------- Javascript external files -------------->
    <script src="~/Content/Theme/Default/js/jquery.min.js"></script>
    <script src="~/Content/Theme/Default/js/jquery-ui.min.js"></script>
    <script src="~/Content/Theme/Default/js/bootstrap.min.js"></script>
    <script src="~/Content/Theme/Default/js/owl.carousel.min.js"></script>
    <script src="~/Content/Theme/Default/js/jquery.countdown.js"></script>
    <script src="~/Content/Theme/Default/js/jquery-ui.min.js"></script>
    <script src="~/Content/Theme/Default/js/jquery.fancybox.js"></script>
    <script src="~/Content/Theme/Default/js/jquery.elevatezoom.js"></script>
    <script src="~/Content/Theme/Default/js/custom.js"></script>


    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/js/jquery-page-home.js"></script>
</body>
</html>