@using SBS_Ecommerce.Models.DTOs;
@using SBS_Ecommerce.Framework.Configurations;
@using SBS_Ecommerce.Framework;
@using SBS_Ecommerce.Framework.Utilities;
@using Newtonsoft.Json;
@{
    // Khoi tao doi tuong
    List<Brand> brand = new List<Brand>();
    string methodName = System.Reflection.MethodBase.GetCurrentMethod().Name;
    //LoggingUtil.StartLog(ClassName, methodName);

        try
        {
            string value = RequestUtil.SendRequest(string.Format(SBSConstants.GetBrand, 1));
            var json = JsonConvert.DeserializeObject<BrandDTO>(value);
            brand = json.Items;
        }
        catch (Exception e)
        {
            //LoggingUtil.ShowErrorLog(ClassName, methodName, e.Message);
        }
    
    //LoggingUtil.EndLog(ClassName, methodName);
}
<!-------------- Our brands --------------->
<div class="row">
    <div class="col-md-12">
        <div class="module brand-widget">
            <h4 class="module-title"><i class="fa fa-globe" aria-hidden="true"></i>Our brands</h4>
            <div class="module-content">

                <div id="brand-carousel" class="brand-carousel owl-carousel">
                    @foreach (var item in brand)
                    {

                        <a class="brand" href="#">@item.Brand_Name</a>


                    }
                </div>
            </div>
        </div>
    </div>
</div>
