@using SBS_Ecommerce.Models.Base;
@{
    Helper helper = new Helper();
    var themes = helper.DeSerialize(Server.MapPath("~") + "/Content/theme.xml");
    var slider = helper.DeSerializeSlider(Server.MapPath("~") + "/Views/Theme/" + themes.Where(m => m.Active).FirstOrDefault().Name + "/configslider.xml");
}
<!--------------- Hero area --------------->
<div class="hero-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="hero-slider" class="hero-slider owl-carousel">
                    @foreach (var item in slider.LstPicture)
                    {
                        item.Path = Url.Content("~" + item.Path);
                        <div style="background-image: url('@item.Path')">
                            <div class="slider-caption">
                                <h2>Big Sale</h2>

                                <h1>Up to 50% off</h1>
                                <a class="btn btn-default btn-big" href="#">Shop Now!</a>
                            </div>
                        </div>
                    }

                    @*<div style="background-image: url(/Content/Theme/Theme3/img/slider/slider2.jpg)">
                            <div class="slider-caption">
                                <h2>Big Sale</h2>
                                <h1>Up to 50% off</h1>
                                <a class="btn btn-default btn-big" href="#">Shop Now!</a>
                            </div>
                        </div>
                        <div style="background-image: url(/Content/Theme/Theme3/img/slider/slider3.jpg)">
                            <div class="slider-caption">
                                <h2>Big Sale</h2>
                                <h1>Up to 50% off</h1>
                                <a class="btn btn-default btn-big" href="#">Shop Now!</a>
                            </div>
                        </div>*@
                </div>
            </div>
        </div>

        <div class="row">
            <div class="supports-shipping">
                <div class="col-sm-4">
                    <div class="support-shipping">
                        <div class="support-shipping-icon">
                            <i class="fa fa-truck" aria-hidden="true"></i>
                        </div>
                        <div class="support-shipping-content">
                            <h5><a href="#">Free Shipping</a></h5>
                            <p>Get Free Shipping on all orders over $75</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="support-shipping">
                        <div class="support-shipping-icon">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                        </div>
                        <div class="support-shipping-content">
                            <h5><a href="#">Support 24/7</a></h5>
                            <p>Consult our specialists for help with ans order</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="support-shipping">
                        <div class="support-shipping-icon">
                            <i class="fa fa-heart" aria-hidden="true"></i>
                        </div>
                        <div class="support-shipping-content">
                            <h5><a href="#">No Customs or duty fees!</a></h5>
                            <p>We pay these fees so you don't have to!</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
