<!--------------- banners --------------->
<div class="module shop-widget banners">
    <div class="row">
        <div class="col-sm-6">
            <div class="banner">
                <a href="#">
                    <img src="/Content/Theme/Theme3/img/banner/img-static4.jpg" alt="Banner">
                </a>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="banner">
                <a href="#">
                    <img src="/Content/Theme/Theme3/img/banner/img-static3.jpg" alt="Banner">
                </a>
            </div>
        </div>
    </div>
</div>
