/*Admin Order*/
.filter .glyphicon {
    font-size: inherit;
}
.filter {
    overflow: hidden; 
    padding: 15px 0; 
    float: right;
}
.filter-status {
    display: block;
}
.filter .filter-wrapper {
    width: 100%; 
    float: left;
}
.filter .filter-wrapper>div {
    width: auto; 
    float: left; 
    margin-right: 15px;
}
.filter .filter-wrapper select {
    padding:7px
}
.filter .filter-wrapper .date-from-wrapper {
    float: left; 
    width: auto;
    margin-right:15px;
}
.filter .filter-wrapper #date-from {
    width: 205px; 
    float: left
}
.filter .filter-wrapper #date-from input {
    padding: 5px;
    margin-left: 3px;
 }
.filter .filter-wrapper .date-to-wrapper {
    width: 290px; 
    float: left; 
}
.filter .filter-wrapper #date-to {
    width: 205px; 
    float: left
}
.filter .filter-wrapper #date-to input {
    padding: 5px; 
    margin-left: 3px
}
.filter .filter-wrapper .date-from-wrapper>div,
.filter .filter-wrapper .date-to-wrapper>div {
    float: left; 
    width: auto;
}
.filter .filter-wrapper .date-from-wrapper label,
.filter .filter-wrapper .date-to-wrapper label {
    padding: 5px 0;
}
.filter-button {
    width: auto; 
    float: left
}
#order-manage .tablist-order {
    width: 100%; 
    overflow: hidden;
}
#order-manage .tab-content {
    width: 100%; 
    float:left
}
#order-manage .tab-content th {
    width: 20%;
    font-weight: 700;
}
/*.modal-header-main {
    padding: 10px 10px 0 20px;
}*/

/*Blog Manager*/
   .titleHTML {
        padding:20px;
        padding-bottom:0;
    }

    .footer-html {
        padding: 20px;
        text-align: right;
    }

    .content-block {
        padding: 10px;
    }

    .ThumbnailHtml {
        padding: 20px;
        padding-left:23px;
    }

    /*#txtTitleHTML {
        width: 435px;
    }*/

    #imgThumbnail {
        padding-top: 5px;
    }

    .imgSlider {
        padding-left: 20px;
        padding-top:15px;
    }


.theme-name {
    font-size: 16px;
    margin-top: 20px;
    font-weight: 600;
}
.modal .modal-content .modal-header,
.md-modal .modal-content .modal-header,
.modal .md-content .modal-header,
.md-modal .md-content .modal-header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 15px;
}
.table > thead > tr > th {
    font-weight: 600;
}

/*.modal-header {
    padding-bottom: 15px !important;
}*/
#txtTitleHTML {
    padding: 5px;
    width: calc(100% - 40px);
}
.titleHTML span{
    font-weight: 600;
    font-size: 14px;
}
/*#confirm-delete .footer-html {
    text-align: center
}*/
#successModal .modal-header {
    display: none;
}
#successModal .alert {
    margin-bottom: 0;
}
#txtPageID {
    padding:5px;
}
.row2 {
    padding-top: 5px;
    padding-bottom: 5px;
}